.main-header-container {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

.main-header-title {
  padding-left: 40px;
  font-size: 24px;
  color: var(--text-color);
}
